.name {
  margin-top: 0;
  margin-bottom: 10px;
  float: left;
}

address {
  font-style: normal;
}
.contact-info {
  float: right;
  margin: 0;
}

.contact-info li {
  list-style: none;
  text-transform: uppercase;
  font-size: 9pt;
  padding: 1px 0 1px 0;
  text-align: right;
}

a {
  text-decoration: none;
}
.experience-date-locale {
  margin-top: 3px;
  float: right;
  color: #A7A7A7;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: 200;
}

.section-header {
  text-transform: uppercase;
  clear: both;
  color: #A7A7A7;
  font-weight: 200;
  margin-bottom: 6px;
}

.job-position {
  margin-top: 5px;
  margin-bottom: 5px;
}

.employer {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 300;
}

.skills {
  margin: 5px 5px 30px 5px;
  padding: 0;
}

.skills li {
  float: left;
  padding-right: 8px;
  list-style: none;
}

.skills li:before {
  content: "\2022  ";
}

.job-details {
  margin: 10px 0 10px 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font: 11pt Helvetica, sans-serif;
  font-weight: 100;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  width: 210mm;
  height: 297mm;
  padding: 1.5cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@page {
    size: 21cm 29.7cm;   /*A4*/
    margin: 0;
}

@media print {
  .page {
      margin: 0;
      padding-top: 1cm;
      width: initial;
      height: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
  }

  

  a {
  text-decoration: none;
  color: black;
  pointer-events: none;
  cursor: default;
  }
}
