.name {
  margin-top: 0;
  margin-bottom: 10px;
  float: left;
}

.contact-info {
  position: relative;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-info li {
  list-style: none;
  font-size: 8pt;
}

.experience-date-locale {
  float: right;
  color: #CFCFCF;
  text-transform: uppercase;
  font-size: 80%;
  padding-top: 5px;
  font-weight: 100;
}

.section-header {
  text-transform: uppercase;
  clear: both;
  color: #CFCFCF;
  font-weight: 100;
}

.job-position {
  margin-top: 5px;
  margin-bottom: 5px;
}

.employer {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
}

.skills {
  margin: 5;
  padding: 0;
}
.skills li {
  float: left;
  padding-right: 8px;
}

.skills li:before {
  content: "\2022  ";
}

.job-details {
  margin: 10px 0 10px 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font: 11pt Helvetica, sans-serif;
  font-weight: 100;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  width: 21cm;
  height: 29.7cm;
  padding: 1.5cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@page {
    size: A4;
    margin: 0;
}

@media print {
  .page {
      margin: 0;
      padding-top: 1cm;
      width: initial;
      height: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
  }
  a {
  text-decoration: none;
  color: black;
  pointer-events: none;
  cursor: default;
  }
}
